/* @@@webenv.style(spreadstyle) */


.cell {
  box-sizing: border-box;
  position: relative;
  border-top: solid 1px #FFF;
  border-left: solid 1px #FFF;
  border-bottom: solid 1px #CCC;
  border-right: solid 1px #CCC;
  /*padding: 2px;*/
  background-color: #FFF;
  cursor: cell;
  overflow: hidden;
}

.select::before {
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: solid 2px #4b89ff;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
}

.select::after {
  opacity: 0.0 !important;
}

.cell-text,
textarea {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*line-height: 1.5;*/
  font-weight: 400;

  font-size: 13px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  display: inline-block;
  outline: none;
  border: none;
  cursor: cell;
  line-height: 1.0;
  overflow: hidden;
  /*hite-space: pre;*/
  /*text-wrap: nowrap; */
  /*padding: 3px;*/
  height: 100%;
  /*color: red;*/
  padding: 0;
  margin: 0;
  inset: 2px;
}

.cell-text {
  user-select: none;
  /*color:red;*/
  pointer-events: none;
  height: fit-content !important;
  display: inline-block;
  white-space: pre !important;
  text-wrap: auto;
}

textarea {
  overflow: hidden;
  caret-color: transparent;
  /*opacity: 0.0;*/
  resize: none;
  cursor: cell;
}

textarea.edit {
  caret-color: inherit;
  cursor: text;
}

.trivial-spread .header {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.trivial-spread .row-header {
  position: sticky;
  left: 0px;
  z-index: 9999;
}

.in-range {
  /*outline: solid 1px red;*/
}

.in-range::after {
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #4b89ff;
  /*z-index: 9999;*/
  user-select: none;
  pointer-events: none;
  opacity: 0.1;
}

.center {
  text-align: center;
}